<html>
   <head>
      <title>
         Kyle Jezwinski | Music, Cyber & Life
      </title>
   </head>
   <body>
      <div>
         <h1><a href="">Kyle Jezwinski | Music, Cyber & Life</a><h1>
      </div>
      <div>
         {% for post in posts %}
            <div>
               <p>published: {{ post.published_date }}</p>
               <h1><a href="">{{ post.title }}</a></h1>
               <p>{{ post.text|linebreaksbr }}</p>
            </div>
         {% endfor %}
      </div>
   </body>
</html>
