<!DOCTYPE html>

<html>
   <head>
      <title>
         Kyle Jezwinski | Music, Cyber & Life
      </title>
   </head>
   <body>
      <div>
         <h1><a href="">Kyle Jezwinski | Music, Cyber & Life</a><h1>
      </div>

      <div>
         <p>published: some date</p>
         <h2><a href="">First</a></h2>
         <p>some text</p>
      </div>

      <div>
         <p>published: some date</p>
         <h2><a href="">Second</a></h2>
         <p>some text</p>
      </div>

      <div>
         <p>published: some date</p>
         <h2><a href="">Third</a></h2>
         <p>some text</p>
      </div>
   </body>
</html>
